<a href="https://colab.research.google.com/github/Humerathestar1/python/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("humaira khan")

humaira khan

In [7]:
name="huamira khan"
Age=18
price=23.65
print(type(name))
print(type(Age))
print(type(price))

<class 'str'>
<class 'int'>
<class 'float'>

In [9]:
#arithmetic operator
a=5
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

7
3
10
2.5
1
25

In [10]:
#relational operator
a=30
b=20
print(a==b)#false
print(a!=b)#false

False
True

In [11]:
a=30
b=32
print(a>=b)
print(a>b)
print(a<=b)
print(a<b)

False
False
True
True

In [12]:
num=10
num=num+10
print("num :",num)

num : 20

In [13]:
a=50
b=30
print(not False)
print(not(a>b))
val1 =True
val2 = True
print("and operator", val1 and val2)

True
False
and operator True

In [14]:
a = float("2")
b= 4.25
print(type(a))
print(a+b)

<class 'float'>
6.25

In [15]:
name = input("enter your name:")
age = input("enter your age:")
print("you enter",name)
print("you enter",age)

enter your name:humaira khan
enter your age:18
you enter humaira khan
you enter 18

In [25]:
side = float(input("enter the side of the square:"))
print("area", side*side)

enter the side of the square:5
area 25.0

In [28]:
a=int(input("enter first:"))
b=int(input("enter second:"))
print(a>=b)

enter first:15
enter second:2
True