<a href="https://colab.research.google.com/github/Humerathestar1/python/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("humaira khan")

humaira khan

In [7]:
name="huamira khan"
Age=18
price=23.65
print(type(name))
print(type(Age))
print(type(price))

<class 'str'>
<class 'int'>
<class 'float'>

In [9]:
#arithmetic operator
a=5
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

7
3
10
2.5
1
25

In [10]:
#relational operator
a=30
b=20
print(a==b)#false
print(a!=b)#false

False
True

In [11]:
a=30
b=32
print(a>=b)
print(a>b)
print(a<=b)
print(a<b)

False
False
True
True